<h1>List of Users</h1>
<<<<<<< HEAD

<ul>
	<%= @users.each do |user| %>
		<li>First Name: <%= user.first_name %> Last Name: <%= user.last_name%></li>
	<% end %>
</ul>
=======
	<ul>
		<% @users.each do |user| %>
			<li>First Name: <%= user.first_name %> Last Name: <%= user.last_name %><li>
		<% end %>
	</ul>
>>>>>>> larissa-branch
