<% if @car.errors.present? %>
  <p><%= @car.errors.full_messages.first %></p>
<% end %>

<%= form_for @car do |f| %>
  <%= f.text_field :make, :placeholder => "Make" %>
  <%= f.text_field :model, :placeholder => "Model" %>
  <%= f.text_field :year, :placeholder => "Year" %>
  <%= f.text_field :theme, :placeholder => "Theme" %>
  <%= f.submit "Submit" %>
<% end %>

