<p>This is the code to add a new user to the database.</p>

<%= form_for @user do |f| %>
  <%= f.text_field :first_name, :placeholder => "First Name" %>
  <%= f.text_field :last_name, :placeholder => "Last Name" %>
  <%= email_field :email, :placeholder => "Email" %>
  <%= password_field_tag :password, :placeholder => "Password" %>
  <%= f.submit "Submit" %>
<% end %>