<form class="choice car col-xs-3">
	<% @cars.each do |car| %>
		<input type="text" value="<%= car.year %> <%= car.make %> <%= car.car_model %>" placeholder="1">
	<% end %>
</form>

<form class="choice car col-xs-3">
	<% @spouses.each do |spouse| %>
		<input type="text" value="<%= spouse.name %>" placeholder="1">
	<% end %>
</form>

<form class="choice car col-xs-3">
	<% @houses.each do |house| %>
		<input type="text" value="<%= house.style %>" placeholder="1">
	<% end %>
</form>