<ul>
 <% @cars.each do |car| %>
   <li>Style: <%= car.make %> Theme: <%= car.car_model %> Year: <%= car.year %> Theme: <%= car.theme %></li>
 <% end %>
</ul>

<p>This is the code to show a list of all of the spouses</p>

<ul>
 <% @spouses.each do |spouse| %>
   <li>Name: <%= spouse.name %> Theme: <%= spouse.theme %> Gender: <%= spouse.gender %></li>
 <% end %>
</ul>

<p>This is the code to show a list of all of the houses</p>

<ul>
 <% @houses.each do |house| %>
   <li>Style: <%= house.style %> Theme: <%= house.theme %></li>
 <% end %>
</ul>