<%= form_tag do %>
    <div class="container">
        <div class="row">
            <div class="choice car col-xs-3">
                <input class="categories" type="text" value="CARS:" readonly>
                <% if @cars then %>
                    <%  @cars.each do |car| %>
                        <input name="cars[]" class="options" type="text" value="<%= car.name %>" placeholder="1">
                <% end %>
                
                <% if @cars.length < 4 then name = 6 - @cars.length else name = 2 end %>
                    <% for i in 1..name do %>
                        <input name="cars[]" class="options" type="text" value="" placeholder="We can do better!">
                    <% end %>
                <% end %>
            </div>
            

            <div class="choice col-xs-6">
                <div class="row">
                    <span class="col-xs-3"></span>
                    
                    <div class="spouse col-xs-6">
                        <input class="categories" type="text" value="SPOUSE:" readonly>
                        <% if @spouses then %>
                            <% @spouses.each do |spouse| %>
                               <input name="spouses[]" class="options" type="text" value="<%= spouse.name %>" placeholder="1">
                        <% end %>
                            
                        <% if @spouses.length < 4 then name = 6 - @spouses.length else name = 2 end %>
                            <% for i in 1..name do %>
                                <input name="spouses[]" class="options" type="text" value="" placeholder="Dream on!">
                            <% end %>
                        <% end %>
                    </div>
                    
                    <span class="col-xs-3"></span>
                </div>
            </div>
            

            <div class="choice house col-xs-3">
                <input class="categories" type="text" value="LIVING:" readonly>
                <% if @houses then %>
                    <% @houses.each do |house| %>
                        <input name="houses[]" class="options" type="text" value="<%= house.style %>" placeholder="1">
                    <% end %>
                    
                    <% if @houses.length < 4 then name = 6 - @houses.length else name = 2 end %>
                        <% for i in 1..name do %>
                            <input name="houses[]" class="options" type="text" value="" placeholder="Make a wish!">
                    <% end %>
                <% end %>
            </div>
        </div>


        <div class="row outputbar">
            <span class="col-xs-2"></span>
            
            <div class="col-xs-8 input-group">
                <span class="input-group-btn">
                    <input class="mashbtn btn btn-default" type="submit" value='mash it'>
                </span>
                
                <% if !@plight then%>
                    <input type="text" class="form-control" id="results" placeholder="Your life..." value="Mash it to read your future." readonly>
                <% else %>
                    <input type="text" class="form-control" id="results" placeholder="Your life..." value="
                    <% @plight.each do |mash| %>
                        <%=  mash  %>
                    <% end %>
                    " readonly>
                <% end %>
           </div>
        </div>
        
        <span class="col-xs-2"></span>
        

    </div>
</div>
<% end %>